*.jnlp
*.orig
.metadata
*.swp
*.tmp
*~*
*.class
*.dep
*.log
*.pyc
makefile
*.DS_Store
*.bak

.v

build
dist
endorsed
/nbproject/private
/*/nbproject/private
*/.jacocoverage/
jacoco*

AdaptorsDependencies/release/modules/ext
AdaptorsDependencies/nbproject/project_old.xml